# Data Science Notebook

## Introduction

Welcome to this Data Science Notebook! In this notebook, we will explore various aspects of data science, including programming languages, libraries, tools, and basic arithmetic expressions.

## Data Science Languages

1. Python
2. R
3. Julia
4. SQL

## Data Science Libraries

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

## Data Science Tools

| Tool           | Description                    |
| -------------- | ------------------------------ |
| Jupyter        | Interactive Computing         |
| VS Code        | Code Editor                    |
| TensorFlow     | Machine Learning Framework     |
| Tableau        | Data Visualization             |
| SQL Server     | Relational Database Management |

## Arithmetic Expressions Examples

In this section, we'll explore some basic arithmetic expressions using Python.

In [3]:
# Exercise 8 - Multiply and Add Numbers
num1 = 5
num2 = 10

result_multiply = num1 * num2
result_addition = num1 + num2

result_multiply, result_addition

(50, 15)

In [4]:
# Exercise 9 - Convert Minutes to Hours
minutes = 120

hours = minutes / 60

hours

2.0

## Objectives

1. Explore data science languages and libraries.
2. Understand basic arithmetic expressions in Python.
3. Work with data science tools and perform simple calculations.

## Author

John Doe